.banner{
  margin: 1.5rem auto;
}
.post{
  margin-top: 3rem;
  h1{

    font-size: 3rem;
    font-weight: bold;
  }
  div{
    margin-top: 1rem;
    span{
      color:var(--gray-100);
      & + span{
        margin-left: 1.5rem;
      }

    }
    .edited{
      display: block;
      margin-left: 0;
      margin-top: 0.5rem;
    }
  }
  h2{
    font-size: 2rem;
    margin:2.5rem 0;
  }
}

.content{
  p{
    color:var(--gray-100);
    & + p{
      margin-top: 1rem;
    }
    & + li{
      margin-top: 1rem;
    }
  }
  li{
    color:var(--gray-100);
    & + p{
      margin-top: 1rem;
    }
    & + li{
      margin-top: 1rem;
    }
  }


}
.postNavigation{
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(255,255,255,0.09);
  margin:2rem auto;
  padding-top:2rem;

  div{
    display: flex;
    &:first-child{
      a{
        align-items: flex-start;
      }

    }
    &:last-child{
      a{
        align-items: flex-end;
      }

    }
  }
  a{
    display:flex;
    flex-direction: column;



    span{
      font-size: 1.1rem;
    }
    strong{
      margin-top: 0.5rem;
      color: var(--pink-100);
    }
  }
}
